{% extends 'layout.html.twig' %}

{% block title %}Hello SecurityController!
{% endblock %}

{% block content %}
	<h1>Login</h1>
	<form method="post" accept-charset="UTF-8">
		{# EMAIL #}
		<div>
			<label for="input_email">Username</label>
			<input type="email" id="input_email" name="_email" value="{{ last_username }}" required autofocus/>
		</div>
		{# PASSWORD #}
		<div>
			<label for="input_password">Password</label>
			<input type="password" id="input_password" name="_password" required/>
		</div>
		{# SUBMIT #}
		<button type="submit">Login</button>
		{# ERRORS #}
		{% if error %}
			<div class="alert alert-danger alert-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
		{# CSRF #}
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
	</form>
{% endblock %}
