/* Padding utilities */
$padding: (
    '0': 0,
    '1': 1rem,
    '2': 2rem,
    '3': 3rem,
    '4': 4rem,
    '5': 5rem,
    '6': 6rem,
    '7': 7rem,
    '8': 8rem,
    '9': 9rem,
    '10': 10rem,
);

@each $pg, $val in $padding {
    .p-#{$pg} {
        padding: $val;
    }
};

@each $pg, $val in $padding {
    .pt-#{$pg} {
        padding-top: $val;
    }
};

@each $pg, $val in $padding {
    .pr-#{$pg} {
        padding-right: $val;
    }
};

@each $pg, $val in $padding {
    .pb-#{$pg} {
        padding-bottom: $val;
    }
};

@each $pg, $val in $padding {
    .pl-#{$pg} {
        padding-left: $val;
    }
};