/* Typography intialization */
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html { 
    font-size: 62.5%;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}