/* Colors */

$colors: (
    'white': $white,
    'black': $black,
    // Put your colors here
);

@each $color, $val in $colors {
    .bg-#{$color} {
        background-color: $color;
    }

    .text-#{$color} {
        color: $color;
    }

    .border-#{$color} {
        border-color: $color;
    }
};