/* Animation */
$menu-layer_img: menu-layer-img 500ms $transition-function forwards;

@keyframes menu-layer-img {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}