{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <header class="container px-4 header">
        <div class="row justify-space-between mnw-100">
            <div class="col-xs-6">
                <p>{{ title }}</p>
            </div>
            <a class="col-xs-6 burger">
                <span class="burger__line burger__line--top"></span>
                <span class="burger__line burger__line--bottom"></span>
            </a>
        </div>
    </header>

    <nav class="menu">
    </nav>

    {% block content %}

        {# flashes #}
        {% block flashes %}
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    {# TODO: Style flash messages #}
                {% endfor %}
            {% endfor %}
        {% endblock %}
        {# end flashes #}
        
    {% endblock %}

{% endblock %}