{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <header class="container p-5">
        <div class="row justify-space-between">
            <div class="col-xs-6">
                <h3>{{ title }}</h3>
            </div>
            <div class="col-xs-6">
                <h3>{{ title }}</h3>
            </div>
        </div>
    </header>

    {% block content %}

        {# flashes #}
        {% block flashes %}
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    {# TODO: Style flash messages #}
                {% endfor %}
            {% endfor %}
        {% endblock %}
        {# end flashes #}
        
    {% endblock %}

{% endblock %}